# remove OS junk files
[Tt]humbs.db
*.DS_Store
.DS_Store
*/.DS_Store

# Python
**/__pycache__/***
__pycache__/


data

# Scrapy stuff:
.scrapy

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/*
*/.ipynb_checkpoints/*