{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div style="width: 100%; margin: 10px auto 50px auto; text-align: justify">
        	<a href="{{ url_for('index') }}"><h1 style="text-align: center;">Findme</h1></a>

            <h2>Welcome</h2>
            <p>
            	Welcolme to Findme, a tool to find the next series you'll like.<br>
            	Start by looking for description of series in our searh navigator.<br><br>

            	Use our recommender tool by selecting series you like, then click on Find me a serie to watch now.
            </p>

			<!--Search bar-->
			<div class="container">
			<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
			<!--<div class="col-md-6 col-md-offset-3">-->
			<form class="navbar-form" method="post" action="{{ url_for('search') }}" role="search">
			<div class="input-group">



			<input type="text" placeholder="Find Series..." class="form-control">

			<span class="input-group-btn">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			Filter
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
			<li><a href="#">Action</a></li>
			<li><a href="#">Comedy</a></li>
			<li><a href="#">Drama</a></li>
			</ul>
			</span>



			<span class="input-group-btn">
			<!-- <button class="btn btn-primary" type="button">Go!</button> -->

            <button class="btn btn-primary" type="button"><span class="oi oi-magnifying-glass" title="magnifying-glass" aria-hidden="true"></span></button>
			</span>
			</div>
			</form>
			</div>

			<div class="col-lg-3"></div>

			</div>
			</div>
			<!--END Search bar-->




<div class="container" style="margin-top: 50px;">
            <div class="row">
                <h2>Top 15 series of all time</h2>
            </div>
</div>


			<div class="row">
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner">
                <div class="item">
                    <div class="pad15">
                        <img src="https://m.media-amazon.com/images/M/MV5BODEzMTU2NjQ2M15BMl5BanBnXkFtZTgwMTk0MTgxNzM@._V1_SY298_SX201_AL_.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="https://m.media-amazon.com/images/M/MV5BMjE4MDg1NjgyOV5BMl5BanBnXkFtZTgwMDIxMjgxNzM@._V1_SY298_CR0,0,201,298_AL_.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="https://m.media-amazon.com/images/M/MV5BODUyNDcxMjA4Nl5BMl5BanBnXkFtZTgwNDIwMTgxNzM@._V1_SY298_CR0,0,201,298_AL_.jpg">
                    </div>
                </div>
<!--                 <div class="item">
                    <div class="pad15">
                        <p class="lead">Multi Item Carousel</p>
                        <p>₹ 1</p>
                        <p>₹ 6000</p>
                        <p>50% off</p>
                    </div>
                </div> -->
                <div class="item">
                    <div class="pad15">
                        <a href="{{ url_for('title', title='0108778') }}"><img src="https://m.media-amazon.com/images/M/MV5BNDVkYjU0MzctMWRmZi00NTkxLTgwZWEtOWVhYjZlYjllYmU4XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_UY268_CR0,0,182,268_AL_.jpg"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="https://m.media-amazon.com/images/M/MV5BZjFiMGUzMTAtNDAwMC00ZjRhLTk0OTUtMmJiMzM5ZmVjODQxXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX182_CR0,0,182,268_AL_.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="https://m.media-amazon.com/images/M/MV5BMjU1ODM1MzYxN15BMl5BanBnXkFtZTgwOTA4NDE2ODE@._V1_UX182_CR0,0,182,268_AL_.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="https://m.media-amazon.com/images/M/MV5BODEzMTU2NjQ2M15BMl5BanBnXkFtZTgwMTk0MTgxNzM@._V1_SY298_SX201_AL_.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="https://m.media-amazon.com/images/M/MV5BODEzMTU2NjQ2M15BMl5BanBnXkFtZTgwMTk0MTgxNzM@._V1_SY298_SX201_AL_.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="https://m.media-amazon.com/images/M/MV5BODEzMTU2NjQ2M15BMl5BanBnXkFtZTgwMTk0MTgxNzM@._V1_SY298_SX201_AL_.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="https://m.media-amazon.com/images/M/MV5BODEzMTU2NjQ2M15BMl5BanBnXkFtZTgwMTk0MTgxNzM@._V1_SY298_SX201_AL_.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="https://m.media-amazon.com/images/M/MV5BODEzMTU2NjQ2M15BMl5BanBnXkFtZTgwMTk0MTgxNzM@._V1_SY298_SX201_AL_.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="https://m.media-amazon.com/images/M/MV5BODEzMTU2NjQ2M15BMl5BanBnXkFtZTgwMTk0MTgxNzM@._V1_SY298_SX201_AL_.jpg">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst">></button>
        </div>
	</div>




























			<!-- <a href="{{ url_for('recommender') }}">aaaa</a> -->

			<div class="row">
			<input style=" margin: 50px auto 50px auto;" name="btn_recommender" class="btn btn-primary" type="submit">Find me a serie to watch now</input>

			<a style=" margin: 50px auto 50px auto;" href="{{ url_for('recommender') }}"><button name="btn_recommender" class="btn btn-primary" type="submit">Find me a serie to watch now</button></a>
			</div>


        </div>
    </div>
{% endblock %} -->
